/* .sreen{
  background-color: bisque;
} 

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


#body {
  margin-left: 100px;
  margin-right: 10px;
  padding-left: 150px;
  padding-top: 50px;
}

#content {
  padding-top: 30px;
} */
.markdown p {
  text-indent: 2em;
}
html {
  scroll-behavior: smooth;
  background-color: #282A36;
}

h1 {
  color: #BD93F9;
}
h2 {
  color: #8BE9FD;
}

h3{
  color: #50FA7B;
}

h4 {
  color: #FFB86C;
}

p {
  color: #F8F8F2;
}