.sreen{
  background-color: bisque;
} 

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  background-color: #F7F0DE;
}

#body {
  margin-left: 100px;
  margin-right: 10px;
  padding-left: 150px;
  padding-top: 50px;
}

#content {
  padding-top: 30px;
}